.loading_spinner {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.loading_spinner_lg {
  width: 70px;
  height: 70px;
  border-width: 3px;
}

.loading_spinner_md {
  width: 40px;
  height: 40px;
  border-width: 3px;
}

.loading_spinner_sm {
  width: 30px;
  height: 30px;
  border-width: 3px;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
