span.table_arrow_wrap {
  min-width: 3rem;
  max-width: 3rem;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

span.table_arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

div.table_expandable_content {
  transition: all 0.3s ease;
  overflow: hidden;
}
